.price-list-list{
    padding: 20px;
    width: 100%; 
}

.price-list-key{
    font-weight: bold;
    text-decoration: underline;
}

.search-input{
    height: 45px;
    font-size: 1rem;
    border-radius:15px ;
    padding: 10px;  
}